include mixins
doctype
html( lang="en" )
    include head
    body(style="padding-bottom:10rem;")
    include nav
    .container
      block content
        .jumbotron
            h1 Welcome to Daily Dinners
            p Here you can find some of the best recipes available today, easilly categorised based on diet, time and difficulty
            p: +button("primary", "/recipelist", "large") View Recipes
        .row
            .col-md-4.col-sm-6.col-xs-12
                +panel("Best Burgers", "primary")
                  div.imagewrapper
                    img(src="./images/products/cheese_burgers.jpg").img-rounded.img-responsive
            .col-md-4.col-sm-6.col-xs-12
                +panel("Meals for two", "success")
                  div.imagewrapper
                    img(src="./images/products/chicken_gyros.jpg").img-rounded.img-responsive
            .col-md-4.col-sm-6.col-xs-12
                +panel("Healthy Options", "primary")
                  div.imagewrapper
                      img(src="./images/products/lettuce_wrapped_fish_citrus_butter.jpg").img-rounded.img-responsive
include footer
