include mixins
doctype
html( lang="en" )
    include head
    body(style="padding-bottom:10rem;")
    include nav
    .container
      block content
        .jumbotron
            h1 Welcome to Daily Dinners
            p Here you can find some of the best recipes available today, easilly categorised based on diet, time and difficulty
            p: +button("primary", "/recipelist", "large") View Recipes
        .row
            .col-md-4.col-sm-6.col-xs-12
                +panel("Best Burgers", "primary")
            .col-md-4.col-sm-6.col-xs-12
                +panel("Meals for two", "success")
            .col-md-4.col-sm-6.col-xs-12
                +panel("Healthy Options", "primary")
include footer
