extends layout

block content
    div.top
        h1.
            Recipe List

        div.container
            div.content
                table.table.table-striped
                    thead
                        tr
                            th Title
                            th Serves
                            th Difficulty
                            th Time
                    tbody
                        each recipe, i in recipelist
                            tr
                                td
                                    a(href="http://www.dailydinners.co.uk/#{recipe.RecipeID}.html")= recipe.Title
                                td= recipe.Serves 
                                td= recipe.Difficulty
                                td= recipe.Time
    div.footer

